<h1>Search Star Wars</h1>
<form action="/result" method="GET">
    <select name="main">
        <option>People</option>
    </select>
    <input type="text" name="searchbox" placeholder="Search Here!">
    <input type="submit">
</form>
